<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>
        body {
          background-color:#8FBC8F;
        }
    </style>
</head>
<body>
    
    <section class="contact section" id="contact">
        <h2 class="section__title">Exhoust Sorgu</h2>
        <span class="section__subtitle">Kurtulanları Sorgulayabileceğiniz Site</span>

        <div class="contact__container container grid">
            <form method="post">
                <div class="contact__inputs grid">
                    <div class="contact__content">
                        <label for="" id="saveButton" class="contact__label">İsim</label>
                        <input type="text" name="isim" class="contact__input">
                    </div>
                    <div class="contact__content">
                        <label for="" class="contact__label">Soy İsim</label>
                        <input name="soyisim" id="lastName" class="contact__input">
                    </div>
                </div>
                <div>
                    <input type="submit" style="background: #0066A2;
                    color: white;
                    border-style: outset;
                    border-color: #0066A2;
                    height: 50px;
                    width: 100px;
                    font: bold15px arial,sans-serif;
                    text-shadow: none;" value="Submit">
                </div>
            </form>
        </div>
    </section>
    <hr style="color:black">

</body>
</html>